html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

.container {
    background: #1B1924;
    text-align: center;
}

img {
    width: 90px;
    height: 90px;
    margin-top: 51px;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    color: #FFFFFF;
    height: 25px;
}

#input-field {
    background: #444059;
    width: 317px;
    border: none;
    border-radius: 8px;
    margin-bottom: 7px;
    box-sizing: border-box;
    padding-bottom: 117px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 12px;
    padding-left: 19px;
    padding-right: 19px;
}

#publish-button{
    margin-top: 10px;
    width: 317px;
    height: 61px;
    border-radius: 8px;
    background: #28A9F1;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: #04131C;
    border: none;
}

h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

ul {
    list-style-type: none;
    padding: 0px;
    
}

ul li {
    background: white;
    width: 285px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 16px;
    color: #1B1924;
    margin-bottom: 13px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}